.album
{
	position: absolute;
	top: 0;
	left: 0;
    margin: 0;
    padding: 5px 0;
	width: 1430px;
	
	overflow: hidden;
 
    list-style: none;
    text-align: justify;
}

.album__image
{
	height: 80px;
	width: 80px;
	overflow: hidden;
}
 
.album__item
{
    display: inline-block;
    overflow: hidden;
 
    vertical-align: top;
    text-align: left;
 
    
	height: 84px;
    padding: 0;
    margin: 0;
    text-align: center;
}
 
.album__num
{
	display: none;
}
 
.album__item_cur_yes
{
	position: relative;
	top: -2px;
}

.album__item_cur_yes .album__image
{
	border-style: solid;
	border-width: 2px;
	border-color: #4169e1;
}